<% provide(:title, 'Advertise') %>
<h1>Advertise with Wisconsin Engineer</h1>
<p>The Wisconsin Engineer is a self-supporting educational and public service magazine. It is published four times each year by UW College of Engineering students and has a circulation of about 3500 copies. 
Twenty percent of our circulation goes to paid subscriptions, and the rest is distributed free to students around the campus. Also, every high school in Wisconsin has a copy sent to its library.</p>
<p>Advertising in the Wisconsin Engineer is a great investment, whether you are interested in easily reaching more than 6000 engineering students or simply supporting a worthy organization. 
The Wisconsin Engineer provides the most direct means of communication with the engineering community at the University of Wisconsin-Madison.</p>
<p>Place Your Ad Today!</p>
<p>For more information on advertising, including current rates and deadlines, as well as our new online ad offerings, please contact us at: advertising@wisconsinengineer.com</p>