<% provide(:title, 'Magazine Form') %>
<h1>Magazine Form</h1>
<p>Find me in app/views/static_pages/form.html.erb</p>
<p>This is the form page where members can upload their stories onto the website!</p>