<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  <b>FAQ:</b><br><br>

  Q: Should I join or support the Wisconsin Engineering Magazine?<br>
  A: Yes! The Wisconsin Engineering Magazine has published great content for the past 120 years!<br><br>

  Q: What is this website?<br>
  A: This page began as a project for a CS369 project taught by Steve Anderson in 2014. The creators made significant progress to modeling the website and implementing features for creating both magazines and articles, however design work still remains.
</p>