<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  <b>FAQ:</b><br><br>

  Q: Should I joine or support the Wisconsin Engineering Magazine?<br>
  A: Yes<br><br>

  Q: Is This Website finished?<br>
  A: Not yet! This page began as a project for a CS369 project taught by Steve Anderson. The creators made significant progress to modeling the website and implementing features for creating both magazines and articles, however work still remains.
</p>