<% provide(:title, 'WEM') %>
<h1>home</h1>
<p>Current home of the new WisconsinEngineer website. Developed by:</p>
<p>Nick Ackerman</p>
<p>Moeller 1</p>
<p>Moeller 2</p>

<p>find the old site <a href="http://wisocnsinengineer.com/">Ruby on Rails Tutorial</a></p>